@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 1.0000 0 0;
    --foreground: 0.2077 0.0398 265.7549;
    --card: 1.0000 0 0;
    --card-foreground: 0.2077 0.0398 265.7549;
    --popover: 1.0000 0 0;
    --popover-foreground: 0.2077 0.0398 265.7549;
    --primary: 0.6430 0.1440 160.6225;
    --primary-foreground: 1.0000 0 0;
    --secondary: 0.9683 0.0069 247.8956;
    --secondary-foreground: 0.2077 0.0398 265.7549;
    --muted: 0.9683 0.0069 247.8956;
    --muted-foreground: 0.5544 0.0407 257.4166;
    --accent: 0.9683 0.0069 247.8956;
    --accent-foreground: 0.2077 0.0398 265.7549;
    --destructive: 0.6790 0.2114 34.0198;
    --destructive-foreground: 1.0000 0 0;
    --border: 0.9288 0.0126 255.5078;
    --input: 0.9288 0.0126 255.5078;
    --ring: 0.6430 0.1440 160.6225;
    --chart-1: 0.6430 0.1440 160.6225;
    --chart-2: 0.8034 0.1704 73.7877;
    --chart-3: 0.5695 0.2716 296.6494;
    --chart-4: 0.6790 0.2114 34.0198;
    --chart-5: 0.7215 0.1287 216.7607;
    --sidebar: 0.9842 0.0034 247.8575;
    --sidebar-foreground: 0.5544 0.0407 257.4166;
    --sidebar-primary: 0.6430 0.1440 160.6225;
    --sidebar-primary-foreground: 1.0000 0 0;
    --sidebar-accent: 0.9683 0.0069 247.8956;
    --sidebar-accent-foreground: 0.2077 0.0398 265.7549;
    --sidebar-border: 0.9288 0.0126 255.5078;
    --sidebar-ring: 0.6430 0.1440 160.6225;
    --font-sans: "Public Sans", sans-serif;
    --font-serif: "Public Sans", serif;
    --font-mono: "JetBrains Mono", monospace;
    --radius: 0.45rem;
    --shadow-2xs: 0px 8px 12px -6px hsl(210.0000 13.4021% 61.9608% / 0.06);
    --shadow-xs: 0px 8px 12px -6px hsl(210.0000 13.4021% 61.9608% / 0.06);
    --shadow-sm: 0px 8px 12px -6px hsl(210.0000 13.4021% 61.9608% / 0.12), 0px 1px 2px -7px hsl(210.0000 13.4021% 61.9608% / 0.12);
    --shadow: 0px 8px 12px -6px hsl(210.0000 13.4021% 61.9608% / 0.12), 0px 1px 2px -7px hsl(210.0000 13.4021% 61.9608% / 0.12);
    --shadow-md: 0px 8px 12px -6px hsl(210.0000 13.4021% 61.9608% / 0.12), 0px 2px 4px -7px hsl(210.0000 13.4021% 61.9608% / 0.12);
    --shadow-lg: 0px 8px 12px -6px hsl(210.0000 13.4021% 61.9608% / 0.12), 0px 4px 6px -7px hsl(210.0000 13.4021% 61.9608% / 0.12);
    --shadow-xl: 0px 8px 12px -6px hsl(210.0000 13.4021% 61.9608% / 0.12), 0px 8px 10px -7px hsl(210.0000 13.4021% 61.9608% / 0.12);
    --shadow-2xl: 0px 8px 12px -6px hsl(210.0000 13.4021% 61.9608% / 0.30);
    --tracking-normal: 0rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --spacing: 0.25rem;
    --shadow-color: #919EAB;
    --shadow-opacity: 0.12;
    --shadow-blur: 12px;
    --shadow-spread: -6px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 8px;
    --letter-spacing: 0rem;
  }

  .dark {
    --background: 0.1363 0.0364 259.2010;
    --foreground: 0.9842 0.0034 247.8575;
    --card: 0.1712 0.0329 266.3995;
    --card-foreground: 0.9842 0.0034 247.8575;
    --popover: 0.1712 0.0329 266.3995;
    --popover-foreground: 0.9842 0.0034 247.8575;
    --primary: 0.6430 0.1440 160.6225;
    --primary-foreground: 1.0000 0 0;
    --secondary: 0.2795 0.0368 260.0310;
    --secondary-foreground: 0.9842 0.0034 247.8575;
    --muted: 0.2795 0.0368 260.0310;
    --muted-foreground: 0.7107 0.0351 256.7878;
    --accent: 0.2795 0.0368 260.0310;
    --accent-foreground: 0.9842 0.0034 247.8575;
    --destructive: 0.6790 0.2114 34.0198;
    --destructive-foreground: 1.0000 0 0;
    --border: 0.2795 0.0368 260.0310;
    --input: 0.2795 0.0368 260.0310;
    --ring: 0.6430 0.1440 160.6225;
    --chart-1: 0.6430 0.1440 160.6225;
    --chart-2: 0.8034 0.1704 73.7877;
    --chart-3: 0.5695 0.2716 296.6494;
    --chart-4: 0.6790 0.2114 34.0198;
    --chart-5: 0.7215 0.1287 216.7607;
    --sidebar: 0.1712 0.0329 266.3995;
    --sidebar-foreground: 0.7107 0.0351 256.7878;
    --sidebar-primary: 0.6430 0.1440 160.6225;
    --sidebar-primary-foreground: 1.0000 0 0;
    --sidebar-accent: 0.2795 0.0368 260.0310;
    --sidebar-accent-foreground: 0.9842 0.0034 247.8575;
    --sidebar-border: 0.2795 0.0368 260.0310;
    --sidebar-ring: 0.6430 0.1440 160.6225;
    --font-sans: "Public Sans", sans-serif;
    --font-serif: "Public Sans", serif;
    --font-mono: "JetBrains Mono", monospace;
    --radius: 0.45rem;
    --shadow-2xs: 0px 8px 12px -6px hsl(0 0% 0% / 0.06);
    --shadow-xs: 0px 8px 12px -6px hsl(0 0% 0% / 0.06);
    --shadow-sm: 0px 8px 12px -6px hsl(0 0% 0% / 0.12), 0px 1px 2px -7px hsl(0 0% 0% / 0.12);
    --shadow: 0px 8px 12px -6px hsl(0 0% 0% / 0.12), 0px 1px 2px -7px hsl(0 0% 0% / 0.12);
    --shadow-md: 0px 8px 12px -6px hsl(0 0% 0% / 0.12), 0px 2px 4px -7px hsl(0 0% 0% / 0.12);
    --shadow-lg: 0px 8px 12px -6px hsl(0 0% 0% / 0.12), 0px 4px 6px -7px hsl(0 0% 0% / 0.12);
    --shadow-xl: 0px 8px 12px -6px hsl(0 0% 0% / 0.12), 0px 8px 10px -7px hsl(0 0% 0% / 0.12);
    --shadow-2xl: 0px 8px 12px -6px hsl(0 0% 0% / 0.30);
    --shadow-color: #000000;
    --shadow-opacity: 0.12;
    --shadow-blur: 12px;
    --shadow-spread: -6px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 8px;
    --letter-spacing: 0rem;
    --spacing: 0.25rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

/* Hide scrollbar for webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
